<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://iwpservicesrabbitmqconsumerforblob20220208153729.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/790d297d-7d54-482f-9346-d1bc14fecf31/resourceGroups/clamav/providers/Microsoft.Web/sites/IwpServicesRabbitMQConsumerForBlob20220208153729</ResourceId>
    <UserName>$IwpServicesRabbitMQConsumerForBlob20220208153729</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://iwpservicesrabbitmqconsumerforblob20220208153729.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>